* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
main{
	background: radial-gradient(#281c3e,#0f051d);
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	font-family: Arial, sans-serif;
}

.wizard {
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	background-color: #ebeaea;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

h1 {
	text-align: center;
	font-size: 4rem;
	margin-bottom: 20px;
}

.progress-bar {
	position: relative;
	height: 20px;
	border-radius: 10px;
	background-color: #e6e6e6;
	margin-bottom: 20px;
}

.progress {
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
    background: radial-gradient(#37245a,#1e0b38);
	border-radius: 10px;
}

fieldset {
	display: none;
}

fieldset.step {
	display: block;
}

legend {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"] {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: none;
	margin-bottom: 10px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

input[type="button"] {
	display: block;
    background: radial-gradient(#37245a,#1e0b38);
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	margin-top: 10px;
}
.enviar{
    background: radial-gradient(#37245a,#1e0b38);
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	margin-top: 10px;
}
input[type="button"]:hover {
    background: radial-gradient(#37245a,#1e0b38);
}

input[type="button"].previous {
	background: radial-gradient(#37245a,#1e0b38);

}

input[type="button"].previous:hover {
	background: radial-gradient(#37245a,#1e0b38);

}
.contBotton{
	display: flex;
	justify-content: space-between;
}

@media only screen and (max-width: 600px) {
	input[type="text"],
	input[type="email"],
	input[type="number"] {
		font-size: 14px;
	}
	input[type="button"] {
		font-size: 14px;
		padding: 5px;
	}
}
