@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@600&family=Oswald&family=Source+Sans+Pro:wght@200;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anton', sans-serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  list-style: none;
}

.header{
  background-color: rgb(31, 28, 28);
  width: 100%;
  height: 80px;
  top:0;
  left: 0;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link{
  color: white;
  text-decoration: none;
}

.logo-img{
  position: relative;
  left: +20px;
  top: +5px;
  height: 70px;
}

.nav-menu{
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item{
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link{
  padding: 8px 12px;
}

.nav-menu-link:hover{
  background-color: rgb(54, 49, 49);
  border-radius: 10px;
  transition: 0.5s;
}

.nav-toggle{
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  display: none;
  cursor: pointer;
}

/*CUERPO*/

main{
  background-color: black;
}

.cuerpo1{
  width: 100%;
  border: red none;
  height: 643px;
  background-image: url(./img/fondo-registro-transformed.jpeg);
  background-color: rgb(50 50 50);
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1{
  font-size: 70px;
  border: red none;
  margin-bottom: 5px;
}

.p1{
  max-width: 100%;
  font-size: 30px;
  border: red none;
  margin-bottom: 10px;
}

.p2{
  border: red none;
  margin: 10px;
}

.boton-registro{
  font-size: 20px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 2px black solid;
  padding: 10px 10px;
  color:rgb(0, 0, 0);
  cursor: pointer;
}

.boton-registro:hover{
  background-color: rgb(0, 0, 0);
  border: 2px rgb(255, 255, 255) solid;
  color: rgb(255, 255, 255);
}

/*formulario de Contacto*/

.container{
  background-color: rgb(31, 28, 28);
  padding-top: 120px;
  padding-bottom: 120px;
}

#form {
  width: 300px;
  margin: auto;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 4px;
  font-size: 12px;
}

#form h2 {
  color: #1e2325;
  text-align: center;
  font-size: 40px;
  padding-bottom: 10px;
}

#form button {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  color: white;
  background-color: rgb(27, 28, 31);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input-control {
  display: flex;
  flex-direction: column;
}

.input-control input {
  border: 2px solid #f0f0f0;
border-radius: 4px;
display: block;
font-size: 12px;
padding: 10px;
width: 100%;
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}

/*apartado de peliculas*/

#peliculas{
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
  justify-content: center;
}

#id{
  display: grid;
  place-items: center;
  width: 1000px;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 40px;
  margin-bottom: 40px;
  color: white;
  font-family: 'Anuphan', sans-serif;
  font-family: 'Berkshire Swash', cursive;
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Patua One', cursive;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}

/*footer*/

.footer{
  width: 100%;
  background-color: rgb(15, 14, 14);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.redes{
  display: flex;
  padding-top: 40px;
  padding-bottom: 20px;
  gap: 30px;
  border: 10px;
}

.face{
  background-image: url(./img/face.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  height: 50px;
  width: 50px;
}

.whats{
  background-image: url(./img/whats.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  height: 50px;
  width: 50px;
}

.insta{
  background-image: url(./img/insta.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  height: 50px;
  width: 50px;
}

.extras{
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.extra-ul{
  display: flex;
  gap: 20px;
}

.extra-a{
  color: white;
}

.derechos{
  color: white;
}

/*Seccion Nosotros*/

.team{
	width: 100%;
	height: 100vh;
	background-image: url(https://d500.epimg.net/cincodias/imagenes/2020/12/31/lifestyle/1609408585_467254_1609408795_noticia_normal.jpg);
  filter: brightness(0.8);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
	flex-direction: column;
  
}
.team-content{
	width: 100%;
	max-width: 1350px;
  filter: none;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	align-items: center;
	gap: 2rem;
	text-align: center;
	margin-top: 4rem;
}
.team-content img{
	width: 100%;
	height: auto;
	border-radius: 15px;
	margin-bottom: 15px;
}
.center h1{
	color: #fff;
	font-size: 4rem;
	text-align: center;
}
.box{
	padding: 16px;
	background: #1b1229;
	border-radius: 15px;
	transition: all .38s ease;
}
.box h3{
	font-size: 23px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 8px;
}
.box h5{
	font-size: 15px;
	font-weight: 600;
	color: #b7b4bb;
	margin-bottom: 15px;
	letter-spacing: 2px;
}
.icons i{
	display: inline-block;
	color: #fff;
	font-size: 20px;
	margin: 0 8px;
	transition: all .38s ease;
}
.icons i:hover{
	transform: scale(1.2);
}
.box:hover{
	transform: translateY(-10px);
	cursor: pointer;
}

.titulo_nosotros{
    font-family: calibri;
    font-size: 60px;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 6px 5px 0 #3e3e3e;
}


@media(max-width: 1240px){
	.team{
		width: 100%;
		height: auto;
		padding: 90px 2%;
	}
	.center h1{
		font-size: 3.2rem;
	}
}



@media (max-width: 768px){
  
  .header{
    height: 60px;
  }
  
  .logo{
    font-size: 25px;
    font-weight: bold;
    padding: 0 20px;
    line-height: 60px;
  }
  
  .nav-menu{
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: rgb(15, 14, 14);
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
  }
  
  .nav-menu-item{
    line-height: 70px;
  }
  
  .nav-menu-link:hover{
    background: none;
    color: red;
  }
  
  .nav-toggle{
    display: block;
  }

  .nav-menu_visible{
    left: 0;
  }
}

